<div class="footer" id="DefDiagEditor">
    <div class="DialogueBox">
        <input type="text" class="form-control" spellcheck="true" @ref="@InputRef" @onkeydown="@OnKeyDown" @bind-value:event="oninput" @bind-value="@Engine.CurrentDialogue">
    </div>
    <button type="button" class="btn btn-primary LeftButton" @onclick="@Engine.BackDialogue">@Engine.Language.Back</button>
    <button type="button" class="btn btn-primary RightButton" @onclick="@Engine.NextDialogue">@Engine.Language.Next</button>
</div>
<div class="footer" id="MobDiagEditor">
    <div class="MobileDialogueBox">
        <input type="text" class="form-control" spellcheck="true" @ref="@InputRef" @onkeydown="@OnKeyDown" @bind-value:event="oninput" @bind-value="@Engine.CurrentDialogue">
    </div>
    <button type="button" class="btn btn-primary MobLeftButton" @onclick="@Engine.BackDialogue">@("<")</button>
    <button type="button" class="btn btn-primary MobRightButton" @onclick="@Engine.NextDialogue">@(">")</button>
</div>
@code {

    DateTime LastEvent = DateTime.Now;
    TimeSpan EleapsedTime => DateTime.Now - LastEvent;

    private async Task OnKeyDown(KeyboardEventArgs Args)
    {
        if (Args.Code == "ArrowUp" && EleapsedTime.TotalMilliseconds > 200)
        {
            LastEvent = DateTime.Now;
            await Engine.BackDialogue();
        }

        if (Args.Code == "ArrowDown" && EleapsedTime.TotalMilliseconds > 200) {
            LastEvent = DateTime.Now;
            await Engine.NextDialogue();
        }

        if (Args.Code == "Enter" && EleapsedTime.TotalMilliseconds > 200)
        {
            LastEvent = DateTime.Now;
            await Engine.UpdateDialogue();
        }
    }

    ElementReference InputRef;

    public async Task Focus() {
        await InputRef.Focus();
    }

    public void Refresh() => this.StateHasChanged();
}
