<div class="footer">
    <div class="DialogueBox">
        <input type="text" class="form-control" spellcheck="true" @ref="@InputRef" @onkeypress="@OnKeyPress" @onkeydown="@OnKeyDown" @bind-value:event="oninput" @bind-value="@Engine.CurrentDialogue">
    </div>
    <button type="button" class="btn btn-primary LeftButton" @onclick="@Engine.BackDialogue">@Engine.Language.Back</button>
    <button type="button" class="btn btn-primary RightButton" @onclick="@Engine.NextDialogue">@Engine.Language.Next</button>
</div>

@code {

    private async Task OnKeyPress(KeyboardEventArgs Args) {
        if (Args.Code == "Enter" && EleapsedTime.TotalMilliseconds > 200)
        {
            LastEvent = DateTime.Now;
            await Engine.UpdateDialogue();
        }
    }

    DateTime LastEvent = DateTime.Now;
    TimeSpan EleapsedTime => DateTime.Now - LastEvent;

    private async Task OnKeyDown(KeyboardEventArgs Args)
    {
        if (Args.Code == "ArrowUp" && EleapsedTime.TotalMilliseconds > 200)
        {
            LastEvent = DateTime.Now;
            await Engine.BackDialogue();
        }

        if (Args.Code == "ArrowDown" && EleapsedTime.TotalMilliseconds > 200) {
            LastEvent = DateTime.Now;
            await Engine.NextDialogue();
        }
    }

    ElementReference InputRef;

    public async Task Focus() {
        await Engine.JSRuntime.InvokeVoidAsync("FocusElement", InputRef);
    }

    public void Refresh() => this.StateHasChanged();
}
