@using System.Net.Http;
@using BlazorFileSaver;
@using Blazor.FileReader;
@using Blazored.LocalStorage;
@using BlazorWorker.Core;
@using BlazorWorker.BackgroundServiceFactory

@inject ILocalStorageService LStorage
@inject IFileReaderService FReader
@inject IBlazorFileSaver FSaver
@inject NavigationManager NavManager
@inject IJSRuntime JRuntime
@inject IWorkerFactory SWorker
@inject IToastService SToast
@inject IModalDialogService SModal


<nav class="navbar navbar-expand-lg navbar-dark bg-dark @NavMenuVisibility">
    <a class="navbar-brand" href="#">Sermone</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="NavFileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Engine.Language.File
            </a>
            <div class="dropdown-menu" aria-labelledby="NavFileDropdown">

                <input type="file" id="FOpen" @ref="Engine.InputRef" @onchange="Engine.FileChanged" hidden>
                <a class="dropdown-item" @onclick="@OpenClicked" href="#">@Sermone.Engine.Language.Open</a>
                <a class="dropdown-item" @onclick="@Engine.OpenAs" href="#">@Sermone.Engine.Language.OpenAs</a>
                <a class="dropdown-item @(NavMenuSaveClass)" @onclick="@Engine.SaveFile" href="#">@Sermone.Engine.Language.Save</a>

            </div>
        </li>
        <li>
            <a class="nav-link" href="#" @onclick="SettingsClicked">@Engine.Language.Settings</a>
        </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="@Engine.Language.Search" aria-label="@Engine.Language.Search" @bind-value:event="oninput" @bind-value="@Search" @onkeydown="@OnSearchKeyDown">
        <button class="btn btn-outline-success my-2 my-sm-0" @onclick="@(async() => await Engine.DoSearch(Search))">@Engine.Language.Search</button>
    </div>
</nav>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Engine.Compressor == null)
        {
            var Worker = await Engine.Worker.CreateAsync();
            Engine.Compressor = await Worker.CreateBackgroundServiceAsync<Sermone.Tools.CompressorService>();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    public string Search { get; private set; }

    private string NavMenuVisibility => Engine.Plugins == null ? "hide" : "";

    private string NavMenuSaveClass => Engine.CanSave ? null : "disabled";

    DateTime LastEvent = DateTime.Now;
    TimeSpan EleapsedTime => DateTime.Now - LastEvent;

    public async Task OnSearchKeyDown(KeyboardEventArgs Args)
    {
        if (Args.Code == "Enter" && EleapsedTime.TotalMilliseconds > 200)
        {
            await Engine.DoSearch(Search);
            LastEvent = DateTime.Now;
        }
    }

    async Task SettingsClicked()
    {
        int CurrentLang = Engine.Settings.Language;
        var Result = await SModal.ShowDialogAsync<Sermone.Dialogs.Settings>(Engine.Language.Settings);

        if (Result.Success)
        {
            await Program.UpdateSettings();

            if (Engine.Settings.Language != CurrentLang)
                Engine.MainLayout.Refresh();
        }

        await JSWrapper.DestroyTooltips();
    }

    async Task OpenClicked()
    {
        await Engine.Open();
    }

    public void Refresh() => this.StateHasChanged();

    public ILocalStorageService LocalStorage => LStorage;
    public IFileReaderService ReaderService => FReader;
    public IBlazorFileSaver SaverService => FSaver;
    public IJSRuntime JSRuntime => JRuntime;
    public IWorkerFactory Worker => SWorker;
    public IToastService Toast => SToast;
    public IModalDialogService Modal => SModal;

    public NavigationManager Navigator => NavManager;
}
