@using System.IO;

@using BlazorFileSaver;
@using Blazor.FileReader;
@using Blazored.LocalStorage;

@inject ILocalStorageService LStorage
@inject IFileReaderService FReader
@inject IBlazorFileSaver FSaver

<div id="menu">
    <div class="@NavMenuCssClass">
        <div class="dropdown">
            <button class="dropbtn" onclick="ShowDropDown(FileDropContent)">
                @Sermone.Engine.Language.File
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="FileDropContent">

                <input type="file" id="FOpen" @ref="Engine.InputRef" @onchange="Engine.FileChanged" hidden>
                <a href="#" onclick="OpenFile(FOpen)">@Sermone.Engine.Language.Open</a>
                <a href="#" class="@NavMenuSaveClass" @onclick="@Engine.SaveFile">@Sermone.Engine.Language.Save</a>
            </div>
        </div>
    </div>
</div>

@code {

    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "navbar hide" : "navbar";

    private string NavMenuSaveClass => Engine.CanSave ? null : "hide";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Refresh() => this.StateHasChanged();

    public ILocalStorageService LocalStorage => LStorage;
    public IFileReaderService ReaderService => FReader;
    public IBlazorFileSaver SaverService => FSaver;
}
